<a href="https://colab.research.google.com/github/zeruel91/DataAnalysis/blob/main/drink.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#=========================================================

# step 1 탐색

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

drinks = pd.read_csv("drinks.csv") # 기본적으로 데이터 프레임 형으로 가져온다
print(drinks.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB
None

In [ ]:
drinks.head(10)

             country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0        Afghanistan              0  ...                           0.0         AS
1            Albania             89  ...                           4.9         EU
2            Algeria             25  ...                           0.7         AF
3            Andorra            245  ...                          12.4         EU
4             Angola            217  ...                           5.9         AF
5  Antigua & Barbuda            102  ...                           4.9        NaN
6          Argentina            193  ...                           8.3         SA
7            Armenia             21  ...                           3.8         EU
8          Australia            261  ...                          10.4         OC
9            Austria            279  ...                           9.7         EU

[10 rows x 6 columns]

In [ ]:
drinks.describe()

       beer_servings  ...  total_litres_of_pure_alcohol
count     193.000000  ...                    193.000000
mean      106.160622  ...                      4.717098
std       101.143103  ...                      3.773298
min         0.000000  ...                      0.000000
25%        20.000000  ...                      1.300000
50%        76.000000  ...                      4.200000
75%       188.000000  ...                      7.200000
max       376.000000  ...                     14.400000

[8 rows x 4 columns]

In [ ]:
#=========================================================

# step 2 인사이트의 발견

In [ ]:
# 피처간의 상관관계 탐색 (예:키와 몸무게의 관계...)

# 두개 피처의 상관계수 구하기 
# beer_servings	 wine_servings 의 상관계수를 구해보자
# pearson은 상관계수를 구하는 계산 방법 중 하나이며 가장 널리 쓰이는 방법이다. 

corr = drinks[['beer_servings', 'wine_servings']].corr(method = 'pearson')
print(corr)

               beer_servings  wine_servings
beer_servings       1.000000       0.527172
wine_servings       0.527172       1.000000

In [ ]:
# 상관 분석

# 상관 분석이란 두 변수 간의 선형적 관계를 상관계수로 표현하는 것이다. 
# 상관 계수를 구한다는 것은 공분산의 개념을 포함한다. 
# 공분산은 2개의 확률 변수에 대한 상관 정도로 2개의 변수 중 하나의 값이 상승하는 경향을 보일 때
# 다른 값도 상승하는 경향을 수치로 나타낸 것이다. 
# 공분산만으로 두 확률 변수의 상관 관계를 구하게 되면 두변수의 단위 크기에 따라 영향을 받을수 밖에 없다. 
# 따라서, -1에서 1사의 값으로 바꾸어 표현 표현한 것을 상관 계수하고 한다.

In [ ]:
cols = ['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol']
corr = drinks[cols].corr(method = 'pearson')
print(corr)

                              beer_servings  ...  total_litres_of_pure_alcohol
beer_servings                      1.000000  ...                      0.835839
spirit_servings                    0.458819  ...                      0.654968
wine_servings                      0.527172  ...                      0.667598
total_litres_of_pure_alcohol       0.835839  ...                      1.000000

[4 rows x 4 columns]