<a href="https://colab.research.google.com/github/zeruel91/DataAnalysis/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

#판다스의 누락데이터 전처리.
string_data = pd.Series(['aardvark','artichoke',np.nan,'avocado'])
string_data
##
string_data.isnull() #boolean 으로 출력
string_data[0]=None #none 으로 변환시킬 수 있다.(날린다)

from numpy import nan as NA
data = pd.Series([1,NA,3.5,NA,7])
data.dropna() #na 를 드랍시킨다.(뺀다)
data[data.notnull()] #na 가 아닌것만 나온다(not null)
#
data = pd.DataFrame([[1.,6.5,3.],[1.,NA,NA],[NA,NA,NA],[NA,6.5,3.]])
cleaned = data.dropna()
data

cleaned

data.dropna(how='all') #모든게 NAN이어야 날림. 줄 만. 
data[4]=NA #모든게 NAN인 column 생성
data
data.dropna(axis = 1, how ='all') #모든성분이 NAN인 column 4 를 제거함
#dropna 는 디폴트가 로우
#axis = 1 -> column 을 기준으로 바꿈.
#axis = 0 (default)

df = pd.DataFrame(np.random.randn(7,3))
df.iloc[:4,1] = NA
df.iloc[:2,2] = NA
df

df.dropna() #dropna 는 전부날려버려서 데이터가 너무 줄어든다.
df.dropna(thresh = 2) #NA 두개 이상이면 날려버리겠다.

#누락된 데이터 채워넣기

df.fillna(0) #0으로 채워넣겠다.
df.fillna({1:0.5,2:0}) #1열은 0.5, 2열은 0으로 넣겠다
df.fillna(df.mean()) #평균으로 채워넣기.

#데이터 변형

data = pd.DataFrame({'k1':['one','two']*3+['two'],'k2':[1,1,2,3,3,4,4]})
data

data.duplicated() #중복값 체크
data.drop_duplicates() # 중복 제거

data['v1']= range(7)
data.drop_duplicates(['k1']) #k1 기준 중복 삭제.
data.drop_duplicates(['k1','k2'],keep='last')
#중복값을 삭제, 중복의 기준은 k1,k2이고 날릴때 뒤에걸 남기고 날림.

#함수를 통한 데이터 변환
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
'Pastrami', 'corned beef', 'Bacon','pastrami', 'honey ham', 'nova lox'],
'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

meat_to_animal = { 'bacon': 'pig',
'pulled pork': 'pig', 
'pastrami': 'cow', 
'corned beef': 'cow',
'honey ham': 'pig', 
'nova lox': 'salmon'
}

lowercased = data['food'].str.lower()
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object