<a href="https://colab.research.google.com/github/zeruel91/DataAnalysis/blob/main/Titanic(not_Finished).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn import metrics

df = pd.read_csv('https://raw.githubusercontent.com/TeamLab/machine_learning_from_scratch_with_python/master/code/ch12/titanic/train.csv')

print(df.head())

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [2]:
print(df.shape)

(891, 12)

In [7]:
# del df['PassengerId']
# del df['Name']
# del df['Ticket']
# del df['Cabin'] 
#컬럼 삭제
print(df.head())

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB
None

In [9]:
#결측치 처리
df=df.dropna()
df=df.dropna(how='all')
df=df.dropna(how='any')
df=df.dropna(thresh=3)
df['Age']=df['Age'].fillna(df['Age'].mean())

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  712 non-null    int64
 1   Pclass    712 non-null    int64
 2   Sex       712 non-null    object
 3   Age       712 non-null    float64
 4   SibSp     712 non-null    int64
 5   Parch     712 non-null    int64
 6   Fare      712 non-null    float64
 7   Embarked  712 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 50.1+ KB
None

In [10]:
print(df['Embarked'].value_counts())

S    554
C    130
Q     28
Name: Embarked, dtype: int64

In [11]:
print(df['Embarked'].value_counts().index[0]) #S
df['Embarked']=df['Embarked'].fillna(df['Embarked'].value_counts().index[0])

print(df.info())

S
<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  712 non-null    int64
 1   Pclass    712 non-null    int64
 2   Sex       712 non-null    object
 3   Age       712 non-null    float64
 4   SibSp     712 non-null    int64
 5   Parch     712 non-null    int64
 6   Fare      712 non-null    float64
 7   Embarked  712 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 50.1+ KB
None

In [12]:
#범주형 컬럼 처리
print(df.head())
print(df['Pclass'].value_counts())
print(df['Sex'].value_counts())
print(df['Embarked'].value_counts())

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S
3    355
1    184
2    173
Name: Pclass, dtype: int64
male      453
female    259
Name: Sex, dtype: int64
S    554
C    130
Q     28
Name: Embarked, dtype: int64

In [ ]:
df['Sex']=df['Sex'].replace(['female','male'],[0,1]) #남자는 1 여자는 0으로 처리

In [15]:
print(df.head())

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    1  22.0      1      0   7.2500        S
1         1       1    0  38.0      1      0  71.2833        C
2         1       3    0  26.0      0      0   7.9250        S
3         1       1    0  35.0      1      0  53.1000        S
4         0       3    1  35.0      0      0   8.0500        S

In [17]:
print(df.dtypes) #데이터 타입만 체크. 칼럼 별

Survived      int64
Pclass        int64
Sex           int64
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [19]:
df['Pclass']=df['Pclass'].astype('category')  #데이터 타입을 카테고리로 변경.
df['Embarked']=df['Embarked'].astype('category')

In [20]:
print(df.dtypes) #변경 확인.

Survived       int64
Pclass      category
Sex            int64
Age          float64
SibSp          int64
Parch          int64
Fare         float64
Embarked    category
dtype: object

In [21]:
df = pd.get_dummies(df) #get_dummies <- 가변수화.(무관한 수.)
print(df.head())

   Survived  Sex   Age  SibSp  ...  Pclass_3  Embarked_C  Embarked_Q  Embarked_S
0         0    1  22.0      1  ...         1           0           0           1
1         1    0  38.0      1  ...         0           1           0           0
2         1    0  26.0      0  ...         1           0           0           1
3         1    0  35.0      1  ...         0           0           0           1
4         0    1  35.0      0  ...         1           0           0           1

[5 rows x 12 columns]

In [ ]:
#https://wikidocs.net/50116